blinker
cachetools
certifi
charset-normalizer
click
colorama
Flask==3.1.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
google-api-core
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
google-cloud-vision
googleapis-common-protos
greenlet
grpcio
grpcio-status
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
mutagen
pillow
proto-plus
pyasn1
pyasn1_modules
requests
rsa
spotipy
SQLAlchemy
typing_extensions
urllib3
Werkzeug
yt-dlp
